---
const { src, alt } = Astro.props;
interface Props {
  src: any;
  alt: string;
}
---

<div class="flex flex-col items-center justify-center">
  <div class="relative w-full" style="padding-top: 56.25%;">
    <iframe
      class="absolute left-0 top-0 h-full w-full rounded-xl"
      src={src}
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      title="famdesc-promo-video"></iframe>
  </div>

  <script src="https://player.vimeo.com/api/player.js"></script>

  <p class="mt-14 text-pretty text-neutral-600 dark:text-neutral-400 md:mt-4">
    {alt}
  </p>
</div>
